/*limpeza de configurações default dos navegadores*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #e3e3e3;
}

#navegacao{
    background-color: #ffffff;
    border-bottom: 1 px solid #dbdbdb;
    height: 45px; 
    position: fixed;
    width: 100%;
    top: 0;   
}

#area{
    width: 720px;
    margin: 0 auto;
}

#area-principal{
    width: 720px;
    margin: 55px auto 10px auto;
}

#logo{
    float: left;
}

#menu{
    float: right;
    padding: 10px 0;
}

#postagem{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

h2{
    color: #b9c941;
}

/*Formatação do menu*/
a{
    text-decoration: none;
    padding: 5px 10px;
}
/*Links não visitados*/
a:link{
    color: #838383;
}

/*Links visitados*/
a:visited{
    color: #838383;    
}

/*Links hover*/
a:hover{
    color: #b9c941;
    background-color: #ffffff;
}

/*links ativos*/
a:active{
    color: #838383;
}

/*Classes*/
.verde{
    color: #b9c941;
}

.data-postagem{
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-postagem{
    float: left;
    margin: 10px;
}

.postado{
    border-left: 5px solid #d8d8d8;
    padding-left: 5px;
    display: block;
    margin-top: 10px;
  }